/*toda configuração de css tem que estar no style ou em um arquivo abaixo do reset (re>)*/
/*MENU
0 - Geral
1 - Menu
2 - Section Intro
3 - Section História
4 - Section Info
5 - Section Lojas
6 - Section Assine
7 - Footer
*/

/* 0 - Geral */
/* root pode criar variáveis */

:root{
    --primary-black: #333;
    --secondary-black: #252525;
    --primary-white: #FAFAFA;
    --primary-grey: #e7e4d8;
    --grey-footer: #d6d3c8;
    --brown: #492901; 
}
.container{
    width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}
/* 1 - Menu */

.menu{
    background-color: var(--secondary-black);
    padding: 10px 0;
}

.menu ul li a{ /*quanto mais especifico, maior a ordem de prioridade*/
    /* sobre, quem somos, etc */
    font-family: Georgia, serif;
    color: var(--primary-white);
    text-decoration: none; /* tirar decoração*/
}

.menu-nav{
    float: right;
}

.menu-nav ul li {
    display: inline-block;
    /* display: inline-flex; coloca cada item da lista ao lado do outro*/
}

.menu-nav ul li a{
    padding: 5px 15px; /*espaçamento entre elementos, faz parte do elemento*/
    display: block;
}

.menu-nav ul li:after{/*linha que aparece quando toca no item*/
    content: "";
    display: block;
    background-color: var(--primary-white);
    height: 5px;
    width: 0;
    transition: .3s;
}

.menu-nav ul li:hover:after{ /*after deixa embaixo e before fica em cima*/
    width: 100%;
    transition: .3s;
}

/* 2 - Section Intro*/

.intro{
    text-align: center;
    color: var(--primary-white);
    background: url(../assets/img/bg-intro.jpg) no-repeat; /* .. volta na pasta anterior, diretorio, para então acessar a página desejada*/
    background-position: center;
    background-size: cover; /*pegar toda a extensão da tela*/
    padding: 150px 0px; /*diferença pra height*/
}

.intro h1{
    text-transform: uppercase;
    font-size: 3em; /*se adapta a telas diferentes*/
    font-weight: bold;
    font-family: Georgia, serif;
}

.intro h1:after{/*criar linhazinha*/
    content: "";
    display: block;
    height: 5px;
    width: 20px;
    background-color: var(--primary-white);
    margin: 10px auto;
}

.intro h1:hover:after{/*criar linhazinha*/
    width: 60%;
    transition: .3s;
}

.intro p{
    font-size: 1.125em;
    font-style: italic;
    font-family: Georgia, serif;
}

/* 3 - Section História */

.sobre{
    padding: 60px 0;
}

.sobre h2{
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

.sobre-item{
    float: left;
    margin: 0 10px;
    width: 460px;
}

.sobre-item img{
    display: block;
    max-width: 100%;
}

.sobre-item h3{
    font-size: 2.25em;
    line-height: 1em;
    background-color: var(--secondary-black);
    color: var(--primary-white);
    text-align: center;
    font-style: italic;
    position: relative;
    width: 220px;
    height: 45px;
    top: -25px;
}

.sobre p{
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.4em;
    max-width: 460px;
    margin: 20px auto;
}

/*4 - Section Info*/

.produtos {
    background-color: var(--primary-grey);
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.container::after, .container::before {
    content: '';
    display: table;
    clear: both;
}

.produtos-item h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
    border: 5px solid var(--primary-grey);
    box-shadow: 0 0 0 5px currentColor;
    margin: 20px auto;
    
}

h2.produtos-paulistas::before{
    color: #492901;
}

h2.produtos-carioca::before {
    color: #c17139;
}

h2.produtos-mineiro::before {
    color: #d7a54d;
}

.produtos-item {
    margin-bottom: 40px; /*separou em blocos*/
   display: block;
   margin-left: 10px;
   margin-right: 10px;
   float: left;
   display: block;
   min-height: 1px;
   background-color: var(--primary-grey);
   width: calc(33.333% - 20px);
}

.produtos-item h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Georgia, serif;
    color: var(--primary-black);
}

.produtos-item p {
    font-size: 0.875em;
    line-height: 1.4em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Georgia, serif;
    color:var(--primary-black);
    float: left;
    text-align: left;
}

.produtos a{
    text-align: center;
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: var(--primary-black);
    font-weight: bold;
    display: block;
    width: 180px;
    padding: 15px 0;
    margin: 0 auto;
}
.produtos a:hover{
    color: var(--primary-white);
    background-color: var(--primary-black);
}

/* 5 - Section Lojas */

.locais {
    padding: 30px 0;
}

.locais-item {
    display: inline-block;
    font-family: Georgia, serif;
    color: var(--primary-black);
    padding: 12px 0px;
    min-height: 1px;
    width: 100%;
    margin-left: 16.5%;
    margin-top: 1%;
}

.container::after, .container::before {
    content: '';
    display: table;
    clear: both;
}

.quadrado{
    display: inline-block;
    position: relative;
    bottom: 70px;
    padding: 0 10px;
    margin-left: 8px;
}

.quadrado img{
    max-width: 100%;
    display: inline-block;
}

.quadrado h2{
    font-size: 2.25em;
    margin-bottom: 20px;
    font-weight: bold;
}

.quadrado p{
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.quadrado a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: var(--primary-black);
    padding: 10px 20px;
}

.quadrado a:hover {
   color: var(--primary-grey);
   background-color: var(--primary-black);
}

/* 6 - Section Assine */

.assine{
    background: var(--primary-grey);
    padding: 30px;
}

.assine-info{
    min-height: 1px;
    width: 100;
    margin-left: 10px;
	margin-right: 10px;
	float: left;
	display: block;
	min-height: 1px;
}

.assine-info h2{
    font-size: 2.25em;
    font-weight: bold;
}

.assine-info p{
    font-size: 1.5em;
    font-style: italic;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
.assine form label {
    display: none;
}

.assine form{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0em;
    display: block;
    min-height: 1px;
    margin-left: 10px;
	margin-right: 10px;
	float: left;
	display: block;
}

.assine input{
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    width: calc(100% - 140px);
    padding: 13px;
}

.assine button{
    background-color: var(--primary-black);
    border: none;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--primary-white);
    cursor: pointer;
    width: 140px;
    padding: 17.5px 0;
}
button {
    display: inline-block;
    text-align: center;
}

.assine button:hover{
    color: var(--primary-black);
    background-color: var(--primary-grey);
}

/* 7 - Footer */

.footer{
    background-color: var(--grey-footer);
    padding: 30px 0;
    font-family: Georgia, serif;
    color: var(--primary-black);
}
.footer img {
	float: right;
}

.footer p {
	font-size: 1.125em;
	line-height: 1.4em;
}

@media (max-width: 739px) {
	.footer img {
		float: none;
		margin-top: 20px;
	}
}

/* #paulista div.produtos-item::before{
    content: "";
    padding: : 20px 50px;
    display: inline-block;
    min-height: 200px;
    min-width: 200px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(255,255,0,0.5) inset;
    border-style: 5px red outset;
} */